body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.error {
  background-color: #f70e0d;
  color: white;
  padding: 1.2rem;
  border-radius: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: "Work Sans";
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.4rem;
  border: 1px solid white;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.btn:visited {
  color: white;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
