*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

a,
button.nav-link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

button.nav-link {
  border: none;
  background-color: black;
  cursor: pointer;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  padding: 1rem;
  background: black;
  position: sticky;
}

img {
  border: 3px solid black;
  border-radius: 10px;
}

.error {
  background-color: #f70e0d;
  color: white;
  padding: 1.2rem;
  border-radius: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: "Work Sans";
  font-size: 1.2rem;
  padding: 0.4rem;
  border: 4px solid black;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.btn:visited {
  color: black;
}

.cart-length {
  background-color: black;
  color: white;
  padding: 0.3rem;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 1rem;
}

.home-link:visited {
  color: black;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
